<!-- <pre>{{users | json}}</pre> -->
<div class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h3 text-danger">User List</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem esse odio nemo velit eaque non fugiat doloribus, totam reprehenderit debitis iste eligendi inventore eos reiciendis? Accusantium nobis necessitatibus similique esse.</p>
                <button class="btn btn-success btn-sm" (click)="getUsersData()">Get Users</button>
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover text-center table-striped">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>Sno</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Website</th>
                            <th>City</th>
                            <th>Zip Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.website}}</td>
                            <td>{{user.address.city}}</td>
                            <td>{{user.address.zipcode}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>