<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <p class="h4">Counter</p>
                    </div>
                    <div class="card-body">
                        <p class="h2">{{count}}</p>
                        <button (click) = "incrCount()" class="btn btn-success btn-sm mr-3">Increment</button>
                        <button (click) = "decrCount()" class="btn btn-danger btn-sm m-3">Decrement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>