<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h3 text-danger">
                    Shopping Cart
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptas nisi modi, molestiae saepe, excepturi natus dolorem illo dolor minus reiciendis, labore accusantium autem! Unde, tenetur laudantium! In, ad accusamus.</p>
            </div>
        </div>
    </div>
</section>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let product of products">
                <app-product [product]="product"></app-product>
            </div>
        </div>
    </div>
</section>