<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Angular Router</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/countries" class="nav-link">Country</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>