<!-- <pre>{{employee}}</pre> -->
<div class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Id : {{employee.sno | uppercase}}
                            </li>
                            <li class="list-group-item">
                                Name : {{employee.name | titlecase}}
                            </li>
                            <li class="list-group-item">
                                Age : {{employee.age | number:'2.1'}} yrs
                            </li>
                            <li class="list-group-item">
                                Designation : {{employee.designation | uppercase}}
                            </li>
                            <li class="list-group-item">
                                <!-- DOJ : {{employee.doj | date : "dd/MM/yy"}} -->
                                DOJ : {{employee.doj | date : "dd-MM-yyyy"}}
                            </li>
                            <li class="list-group-item">
                                <!-- DOJ : {{employee.doj | date : "dd/MM/yy"}} -->
                                Salary : {{employee.salary | currency : "INR"}}
                            </li>
                            <li class="list-group-item">
                                <!-- DOJ : {{employee.doj | date : "dd/MM/yy"}} -->
                                jSON Employee : <pre>{{employee | json}}</pre> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>