<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <!-- {{102+20*503}} -->
                        <img [src]="tourImage" alt="" class="img-responsive img-fluid img-centered">
                        <p>{{tourName}}</p>
                        <p>{{getDate()}}</p>
                        <p>{{time}}</p>
                        <!-- Since tourName is a string, so we can apply all the functionality of the strings here -->
                        <!-- {{tourName.toUpperCase()}} -->
                        <!-- {{tourName.length}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>