<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-secondary text-white">
                        Wish Message
                    </div>
                    <div class="card-body">
                        <p class="h4">{{message}}</p>
                        <button (click)="updateMessage('Good Morning!')" class="btn btn-success btn-sm">Good Morning</button>
                        <button (click)="updateMessage('Good Afternoon!')" class="btn btn-warning btn-sm m-3">Good Afternoon</button>
                        <button (click)="updateMessage('Good Evening!')" class="btn btn-danger btn-sm">Good Evening</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>