<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger">Contact App</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iusto blanditiis error in alias? Beatae assumenda laboriosam molestiae dolore? Reprehenderit assumenda perspiciatis sint ex dolor quisquam iure culpa dicta natus.</p>
        </div>
    </div>
</div>
<!-- <pre>{{selectedContact | json}}</pre> -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <app-contact-list (sendContact)="selectedContact=$event"></app-contact-list>
        </div>
        <div class="col-md-3">
            <app-contact-card [selectedContact]="selectedContact"></app-contact-card>
        </div>
    </div>
</div>